<html>
    <head>
        <title>Login</title>
        {% load static %} 
        <link href="{% static '\styles.css' %}" rel="stylesheet" />
        <link href="{% static '\main.css' %}" rel="stylesheet" />
        <link href="{% static '\media-queries.css' %}" rel="stylesheet"  />
        <link href="{% static '\font\flaticon.css' %}" rel="stylesheet" />
    </head>
    <body style="background-color: white;">
        <header>
    
            <section class="header-icons-container">
            </section>
              <nav>
                  <section class="nav-logo-container">
                      <h1 style="font-size: 30px;color: white;"><a href="{% url 'inicio' %}"style="font-size: 30px;color: white;">GAMUFI</a></h1>
                  </section>
            </nav>
          </header>
        {% block Articulo %} 
            <div class="main-box">
                <img src="{% static '\imagenes\user.png' %}" class="avatar" alt="avatar">
                <h1 style="color: #2c3e50;">Iniciar Sesion</h1>
                <form">
                    <form class="form-table" action="{% url 'login' %}" method="post">
                    {% csrf_token %}            
                    <table style="color: #2c3e50;">
                    {{ form.as_table }}
                    </table>         
                    <input type="submit" class="btn btn-sm btn-primary" value="Ingresar">
                    <a href="{% url 'inicio' %}"><input type="button" class="btn btn-sm btn-primary"  value="Salir"></a> 
                    </form>
                {{ mensaje }}
                </form>
            </div>
        {% endblock %}
        <footer style="position: absolute; bottom:0;">
            <p>Página Creada por los Alumnos de Coder House ---> Curso "Python"</p>
          </footer>
    </body>

</html>