{% extends "padre.html" %}
{% load static %}

{% block Articulo %} 
    <div>
                
        {% if formulario.error %}
        <p style= "color:red">ERROR EN EL FORMULARIO</p>
        {% endif %}
    
        <form class="form-table" action="{% url 'formMensajes' nombre %}" method="POST"> {% csrf_token %}
            
            <table>
                {{ formulario.as_table }}
            </table>
    
    
            <input type="submit" class ="btn btn-primary" value="Enviar">
        </form>

    </div>
{% endblock %}