{% extends "padre.html" %}
{% load static %}

{% block Articulo %} 
    <div>
         <a href="{% url 'listaUsuarios' %}">ENVIAR MENSAJE</a>       
        <h1>Mensajes</h1>
        {% if mensajes %}
        {% for mensaje in mensajes %}

        <p>De: <a href="{% url 'mensaje' mensaje.id %}">{{ mensaje.autor }}</a></p>
        <p>{{ mensaje.creado }}</p>
        {% if mensaje.leido %}
            <p>Leido</p>
        {% else %}
            <p><b> No leido </b></p>
        {% endif %}
        <a href="{% url 'borrar' mensaje.id %}">Borrar</a>
        <hr>

        {% endfor %}

        {% else %}
        <h4>No hay mensajes</h4>
        {% endif %}
    </div>
{% endblock %}